[submodule "web/themes/custom/byu_news"]
	path = web/themes/custom/byu_news
	url = git@github.com:byuweb/byu_news_theme_d8
[submodule "web/themes/custom/byu_amp_d8"]
	path = web/themes/custom/byu_amp_d8
	url = git@github.com:byuweb/byu_news_amp
[submodule "web/themes/custom/byu_news_adminimal_theme"]
	path = web/themes/custom/byu_news_adminimal_theme
	url = git@github.com:byuweb/byu_news_adminimal_theme.git
[submodule "web/libraries/cycle"]
	path = web/libraries/cycle
	url = https://github.com/malsup/cycle.git
[submodule "web/libraries/json-js"]
	path = web/libraries/json-js
	url = https://github.com/douglascrockford/JSON-js.git
