{#
/**
 * @file
 * Template fragment for inclusion in field.html.twig and derived templates
 * when inline_field is TRUE:
 *   {% if inline_field %}
 *   {% include "inline-field.html.twig" %}
 *   {% else %}
 *
 * Markup is suitable for display inside span/h1/h2 etc.
 *
 * See field.html.twig for documentation about details and overrides.
 *
 * Available variables:
 * - attributes: HTML attributes for the containing span element.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 * @see field.html.twig
 *
 * @ingroup themeable
 */
#}
<span{{ attributes }}>
  {%- for item in items -%}
    {{ item.content }}
  {%- endfor -%}
</span>
